/* Sign */

.overlay-right 
{
    right: 0;
    transform: translateY(0);
}

.overlay-left 
{
    transform: translateY(-20%);
}

.container.right-panel-active .sign-in-container 
{
    transform: translateY(100%);
}

.container.right-panel-active .overlay-container 
{
    transform: translateX(-100%);
}

.container.right-panel-active .sign-up-container 
{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay 
{
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left 
{
    transform: translateY(0);
}

.container.right-panel-active .overlay-right 
{
    transform: translateY(20%);
}