/* Main */

.filterInput
{
    width: 310px;
    height: 76px;
    font-size: 2vh;
    border-radius: 9px;
    outline: none;
    padding: 5px;
    background-color: rgb(187, 187, 187);
    color: rgb(143, 143, 143);
    border: rgb(45, 154, 255) solid 1px;
}

.filterInput:enabled
{
    color: black;
}

.calendar
{
    background-color: rgb(187, 187, 187);
    height: 76px;
    width: 310px;
    border: rgb(45, 154, 255) solid 1px;
}

/* Sign */

.form-container input 
{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

